## Slides at https://drive.google.com/file/d/1e4uApH4RDuEQwyCUcsbXRMBIyurMCRSX/view

In [2]:
%load_ext sql
%sql mysql+pymysql://ultracode:ultracode@localhost:3306/md_water_services

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%%sql
SELECT location_id,
        true_water_source_score
FROM
    auditor_report
LIMIT 10;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 1),
 ('AkRu08112', 3),
 ('AkLu02044', 0),
 ('AkHa00421', 3),
 ('SoRu35221', 0),
 ('HaAm16170', 1),
 ('AkRu04812', 3),
 ('AkRu08304', 3),
 ('AkRu05107', 2),
 ('AkRu05215', 3)]

In [7]:
%%sql
SELECT a.location_id as audit_location,
        a.true_water_source_score,
        v.location_id as visit_location,
        v.record_id
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
LIMIT 10;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185),
 ('AkRu08112', 3, 'AkRu08112', 59367),
 ('AkLu02044', 0, 'AkLu02044', 37379),
 ('AkHa00421', 3, 'AkHa00421', 51627),
 ('SoRu35221', 0, 'SoRu35221', 28758),
 ('HaAm16170', 1, 'HaAm16170', 31048),
 ('AkRu04812', 3, 'AkRu04812', 1513),
 ('AkRu08304', 3, 'AkRu08304', 1218),
 ('AkRu05107', 2, 'AkRu05107', 8322),
 ('AkRu05215', 3, 'AkRu05215', 21160)]

In [10]:
%%sql --Add subjective water score
SELECT a.location_id as audit_location,
        a.true_water_source_score,
        v.location_id as visit_location,
        v.record_id,
        q.subjective_quality_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
LIMIT 10;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185, 1),
 ('AkRu08112', 3, 'AkRu08112', 59367, 3),
 ('AkLu02044', 0, 'AkLu02044', 37379, 0),
 ('AkHa00421', 3, 'AkHa00421', 51627, 3),
 ('SoRu35221', 0, 'SoRu35221', 28758, 0),
 ('HaAm16170', 1, 'HaAm16170', 31048, 1),
 ('AkRu04812', 3, 'AkRu04812', 1513, 3),
 ('AkRu08304', 3, 'AkRu08304', 1218, 3),
 ('AkRu05107', 2, 'AkRu05107', 8322, 2),
 ('AkRu05215', 3, 'AkRu05215', 21160, 10)]

In [16]:
%%sql --Clean table
SELECT a.location_id,
        v.record_id,
        a.true_water_source_score as auditor_score,
        q.subjective_quality_score as surveyor_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
LIMIT 10;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 5185, 1, 1),
 ('AkRu08112', 59367, 3, 3),
 ('AkLu02044', 37379, 0, 0),
 ('AkHa00421', 51627, 3, 3),
 ('SoRu35221', 28758, 0, 0),
 ('HaAm16170', 31048, 1, 1),
 ('AkRu04812', 1513, 3, 3),
 ('AkRu08304', 1218, 3, 3),
 ('AkRu05107', 8322, 2, 2),
 ('AkRu05215', 21160, 3, 10)]

In [29]:
%%sql -- Find discrepancies in data compared to what the auditor gave
-- 102 records were inaccurate while 1518 records were accurate meaning our data had 94% accuracy
SELECT a.location_id,
        v.record_id,
        a.true_water_source_score as auditor_score,
        q.subjective_quality_score as surveyor_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
WHERE 
    a.true_water_source_score != q.subjective_quality_score
AND
    v.visit_count=1
ORDER BY location_id

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
102 rows affected.

[('AkHa00053', 28869, 9, 10),
 ('AkHa00311', 21392, 9, 10),
 ('AkHa00314', 29407, 9, 10),
 ('AkHa00363', 25387, 0, 10),
 ('AkKi00847', 5889, 3, 10),
 ('AkKi01256', 34833, 1, 10),
 ('AkKi01267', 58866, 9, 10),
 ('AkLu02500', 24797, 3, 10),
 ('AkRu02789', 49443, 2, 10),
 ('AkRu03245', 3233, 2, 10),
 ('AkRu03358', 31888, 1, 10),
 ('AkRu03475', 33630, 1, 10),
 ('AkRu03848', 43412, 3, 10),
 ('AkRu03973', 49033, 3, 10),
 ('AkRu04116', 53182, 3, 10),
 ('AkRu04508', 37357, 1, 10),
 ('AkRu04935', 16410, 3, 10),
 ('AkRu05215', 21160, 3, 10),
 ('AkRu05741', 19961, 3, 10),
 ('AkRu05880', 12705, 7, 10),
 ('AkRu06284', 32008, 3, 10),
 ('AkRu06495', 45924, 2, 10),
 ('AkRu07310', 37457, 9, 10),
 ('AkRu07426', 50918, 3, 10),
 ('AkRu08640', 39250, 3, 10),
 ('AmAm09607', 55067, 9, 10),
 ('AmAm09631', 14211, 9, 10),
 ('AmAm09956', 15929, 1, 10),
 ('AmAs10124', 3154, 6, 10),
 ('AmAs10336', 293, 3, 10),
 ('AmDa11466', 17086, 1, 10),
 ('AmPw12272', 50239, 9, 10),
 ('AmPw12480', 47831, 5, 10),
 ('AmRu13226', 55271, 9, 10),
 ('AmRu13433', 57735, 9, 10),
 ('AmRu13668', 10586, 9, 10),
 ('AmRu14113', 3841, 2, 10),
 ('AmRu14223', 23126, 1, 10),
 ('AmRu14245', 47227, 9, 10),
 ('AmRu14364', 42302, 2, 10),
 ('AmRu14691', 40443, 2, 10),
 ('AmRu14842', 47055, 2, 10),
 ('AmRu14887', 31028, 9, 10),
 ('AmRu14959', 1556, 9, 10),
 ('AmRu15556', 15461, 9, 10),
 ('AmRu15719', 34822, 9, 10),
 ('HaDj16824', 52429, 1, 10),
 ('HaRu17038', 7867, 2, 10),
 ('HaRu17528', 30524, 1, 10),
 ('HaRu18142', 32555, 2, 10),
 ('HaRu19244', 25725, 2, 10),
 ('HaRu19621', 55949, 3, 10),
 ('HaRu20005', 23715, 1, 10),
 ('HaRu20146', 36818, 2, 10),
 ('HaRu20544', 33833, 1, 10),
 ('HaSe20888', 57001, 9, 10),
 ('HaSe21323', 26260, 3, 10),
 ('HaYa21395', 28729, 2, 10),
 ('KiAm22092', 8186, 9, 10),
 ('KiHa22748', 43140, 9, 10),
 ('KiIs23853', 55796, 2, 10),
 ('KiIs24083', 28404, 2, 10),
 ('KiMr24359', 18443, 2, 10),
 ('KiMr24919', 23328, 1, 10),
 ('KiRu25347', 54560, 2, 10),
 ('KiRu26598', 28874, 9, 10),
 ('KiRu26688', 55794, 2, 10),
 ('KiRu27065', 29772, 0, 10),
 ('KiRu27364', 38102, 0, 10),
 ('KiRu27884', 33931, 1, 10),
 ('KiRu29147', 3179, 0, 10),
 ('KiRu29290', 7938, 3, 10),
 ('KiRu29329', 11962, 0, 10),
 ('KiRu29537', 15869, 2, 10),
 ('KiRu29556', 5645, 2, 10),
 ('KiRu29639', 45008, 1, 10),
 ('KiRu29696', 251, 2, 10),
 ('KiRu30343', 51075, 2, 10),
 ('KiRu30640', 47474, 2, 10),
 ('KiZu30847', 57038, 9, 10),
 ('KiZu30932', 49082, 9, 10),
 ('KiZu31100', 31033, 3, 10),
 ('KiZu31170', 17950, 9, 10),
 ('KiZu31370', 36864, 3, 10),
 ('SoBa31691', 3267, 0, 10),
 ('SoBa31761', 3296, 2, 10),
 ('SoIl32575', 3116, 1, 10),
 ('SoIl32770', 7548, 0, 10),
 ('SoKo33094', 16159, 0, 10),
 ('SoKo33333', 56898, 2, 10),
 ('SoMa34211', 24867, 1, 10),
 ('SoMa34366', 26183, 9, 10),
 ('SoRu36101', 3351, 3, 10),
 ('SoRu36566', 11097, 3, 10),
 ('SoRu36708', 7252, 3, 10),
 ('SoRu37524', 59640, 3, 10),
 ('SoRu37841', 18495, 6, 10),
 ('SoRu38045', 26566, 9, 10),
 ('SoRu38331', 13192, 3, 10),
 ('SoRu38401', 20163, 2, 10),
 ('SoRu38535', 44282, 0, 10),
 ('SoRu39544', 17929, 0, 10)]

In [33]:
%%sql -- Meaning the water_quality data is authentic
SELECT a.location_id,
        v.record_id,
        a.type_of_water_source as auditor_source,
        w.type_of_water_source as surveyor_source,
        a.true_water_source_score as auditor_score,
        q.subjective_quality_score as surveyor_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
JOIN
    water_source as w
ON 
    w.source_id=v.source_id
WHERE 
    a.true_water_source_score != q.subjective_quality_score
AND
    v.visit_count=1
AND a.type_of_water_source != w.type_of_water_source
ORDER BY location_id

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
0 rows affected.

[]

In [39]:
%%sql -- Attach employees so we know those who gave us incorrect data
SELECT a.location_id,
        v.record_id,
        e.employee_name,
        a.true_water_source_score as auditor_score,
        q.subjective_quality_score as surveyor_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
JOIN
    employee as e
ON
    v.assigned_employee_id = e.assigned_employee_id
WHERE 
    a.true_water_source_score != q.subjective_quality_score
AND
    v.visit_count=1
ORDER BY location_id
LIMIT 10;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
10 rows affected.

[('AkHa00053', 28869, 'Malachi Mavuso', 9, 10),
 ('AkHa00311', 21392, 'Usafi Ayo', 9, 10),
 ('AkHa00314', 29407, 'Zuriel Matembo', 9, 10),
 ('AkHa00363', 25387, 'Bello Azibo', 0, 10),
 ('AkKi00847', 5889, 'Zuriel Matembo', 3, 10),
 ('AkKi01256', 34833, 'Farai Nia', 1, 10),
 ('AkKi01267', 58866, 'Enitan Zuri', 9, 10),
 ('AkLu02500', 24797, 'Bello Azibo', 3, 10),
 ('AkRu02789', 49443, 'Farai Nia', 2, 10),
 ('AkRu03245', 3233, 'Malachi Mavuso', 2, 10)]

In [48]:
%%sql -- Transform this to a CTE and select distinct employees
WITH Incorrect_Records AS (
SELECT a.location_id,
        v.record_id,
        e.employee_name,
        a.true_water_source_score as auditor_score,
        q.subjective_quality_score as surveyor_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
JOIN
    employee as e
ON
    v.assigned_employee_id = e.assigned_employee_id
WHERE 
    a.true_water_source_score != q.subjective_quality_score
AND
    v.visit_count=1
ORDER BY location_id
)

SELECT DISTINCT employee_name 
FROM Incorrect_Records;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
17 rows affected.

[('Rudo Imani',),
 ('Bello Azibo',),
 ('Zuriel Matembo',),
 ('Yewande Ebele',),
 ('Jengo Tumaini',),
 ('Farai Nia',),
 ('Malachi Mavuso',),
 ('Makena Thabo',),
 ('Lalitha Kaburi',),
 ('Gamba Shani',),
 ('Enitan Zuri',),
 ('Thandiwe Kito',),
 ('Pili Zola',),
 ('Usafi Ayo',),
 ('Deka Osumare',),
 ('Ona Sefu',),
 ('Xola Uzuri',)]

In [51]:
%%sql -- Find the employees with the most mistakes
WITH Incorrect_Records AS (
SELECT a.location_id,
        v.record_id,
        e.employee_name,
        a.true_water_source_score as auditor_score,
        q.subjective_quality_score as surveyor_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
JOIN
    employee as e
ON
    v.assigned_employee_id = e.assigned_employee_id
WHERE 
    a.true_water_source_score != q.subjective_quality_score
AND
    v.visit_count=1
)

SELECT 
    employee_name, COUNT(employee_name) as mistake_count
FROM
    Incorrect_Records
GROUP BY
    employee_name
ORDER BY
    mistake_count DESC;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
17 rows affected.

[('Bello Azibo', 26),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17),
 ('Lalitha Kaburi', 7),
 ('Rudo Imani', 5),
 ('Enitan Zuri', 4),
 ('Farai Nia', 4),
 ('Makena Thabo', 3),
 ('Gamba Shani', 3),
 ('Yewande Ebele', 3),
 ('Jengo Tumaini', 3),
 ('Thandiwe Kito', 1),
 ('Pili Zola', 1),
 ('Usafi Ayo', 1),
 ('Deka Osumare', 1),
 ('Ona Sefu', 1),
 ('Xola Uzuri', 1)]

In [88]:
%%sql -- Find the employees with the most mistakes
WITH Incorrect_Records AS (
SELECT a.location_id,
        v.record_id,
        e.employee_name,
        a.true_water_source_score as auditor_score,
        q.subjective_quality_score as surveyor_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
JOIN
    employee as e
ON
    v.assigned_employee_id = e.assigned_employee_id
WHERE 
    a.true_water_source_score != q.subjective_quality_score
AND
    v.visit_count=1
),
Error_Count AS (
SELECT 
    employee_name, COUNT(employee_name) as mistake_count
FROM
    Incorrect_Records
GROUP BY
    employee_name
ORDER BY
    mistake_count DESC
)

SELECT *
FROM 
    Error_Count
WHERE mistake_count > (
SELECT 
    AVG(mistake_count) as average_mistake_count
FROM
    Error_Count);

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
4 rows affected.

[('Bello Azibo', 26),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17),
 ('Lalitha Kaburi', 7)]

In [126]:
%%sql -- Improve and convert some CTE's to Views
CREATE VIEW IF NOT EXISTS Incorrect_Records AS(
SELECT a.location_id,
        v.record_id,
        e.employee_name,
        a.true_water_source_score as auditor_score,
        q.subjective_quality_score as surveyor_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
JOIN
    employee as e
ON
    v.assigned_employee_id = e.assigned_employee_id
WHERE 
    a.true_water_source_score != q.subjective_quality_score
AND
    v.visit_count=1
);

-- This CTE calculates the number of mistakes each employee made
WITH Error_Count AS ( 
SELECT 
    employee_name, COUNT(employee_name) as mistake_count
FROM
    Incorrect_Records /*
                Incorrect_records is a view that joins the audit report to the database
                for records where the auditor and
                employees scores are different*/
GROUP BY
    employee_name
ORDER BY
    mistake_count DESC
),
Suspected_List AS (
SELECT employee_name, mistake_count
FROM 
    Error_Count
WHERE
    mistake_count > (
SELECT 
    AVG(mistake_count) as average_mistake_count
FROM
    Error_Count)
)

SELECT * FROM
    Incorrect_Records
WHERE 
    employee_name in (SELECT employee_name FROM Suspected_List)
ORDER BY employee_name;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
0 rows affected.
71 rows affected.

[('AmRu14691', 40443, 'Bello Azibo', 2, 10),
 ('KiMr24919', 23328, 'Bello Azibo', 1, 10),
 ('KiRu29696', 251, 'Bello Azibo', 2, 10),
 ('HaYa21395', 28729, 'Bello Azibo', 2, 10),
 ('KiZu30847', 57038, 'Bello Azibo', 9, 10),
 ('KiHa22748', 43140, 'Bello Azibo', 9, 10),
 ('KiAm22092', 8186, 'Bello Azibo', 9, 10),
 ('AmRu14842', 47055, 'Bello Azibo', 2, 10),
 ('SoRu36708', 7252, 'Bello Azibo', 3, 10),
 ('KiZu31100', 31033, 'Bello Azibo', 3, 10),
 ('AkRu03848', 43412, 'Bello Azibo', 3, 10),
 ('SoKo33333', 56898, 'Bello Azibo', 2, 10),
 ('KiRu29556', 5645, 'Bello Azibo', 2, 10),
 ('KiRu29290', 7938, 'Bello Azibo', 3, 10),
 ('KiIs23853', 55796, 'Bello Azibo', 2, 10),
 ('KiRu27065', 29772, 'Bello Azibo', 0, 10),
 ('AkHa00363', 25387, 'Bello Azibo', 0, 10),
 ('KiRu27884', 33931, 'Bello Azibo', 1, 10),
 ('AmRu14364', 42302, 'Bello Azibo', 2, 10),
 ('AkRu06495', 45924, 'Bello Azibo', 2, 10),
 ('HaSe21323', 26260, 'Bello Azibo', 3, 10),
 ('AkRu04508', 37357, 'Bello Azibo', 1, 10),
 ('AmRu14887', 31028, 'Bello Azibo', 9, 10),
 ('KiRu29639', 45008, 'Bello Azibo', 1, 10),
 ('AkLu02500', 24797, 'Bello Azibo', 3, 10),
 ('AkRu05741', 19961, 'Bello Azibo', 3, 10),
 ('AkRu04935', 16410, 'Lalitha Kaburi', 3, 10),
 ('KiIs24083', 28404, 'Lalitha Kaburi', 2, 10),
 ('HaRu20544', 33833, 'Lalitha Kaburi', 1, 10),
 ('SoKo33094', 16159, 'Lalitha Kaburi', 0, 10),
 ('SoIl32770', 7548, 'Lalitha Kaburi', 0, 10),
 ('KiRu29329', 11962, 'Lalitha Kaburi', 0, 10),
 ('AkRu07310', 37457, 'Lalitha Kaburi', 9, 10),
 ('AmRu15719', 34822, 'Malachi Mavuso', 9, 10),
 ('KiRu26598', 28874, 'Malachi Mavuso', 9, 10),
 ('AmRu13226', 55271, 'Malachi Mavuso', 9, 10),
 ('AkHa00053', 28869, 'Malachi Mavuso', 9, 10),
 ('KiRu25347', 54560, 'Malachi Mavuso', 2, 10),
 ('SoMa34211', 24867, 'Malachi Mavuso', 1, 10),
 ('AmRu13433', 57735, 'Malachi Mavuso', 9, 10),
 ('AmDa11466', 17086, 'Malachi Mavuso', 1, 10),
 ('SoRu36566', 11097, 'Malachi Mavuso', 3, 10),
 ('AmPw12272', 50239, 'Malachi Mavuso', 9, 10),
 ('AkRu08640', 39250, 'Malachi Mavuso', 3, 10),
 ('HaRu20005', 23715, 'Malachi Mavuso', 1, 10),
 ('KiZu30932', 49082, 'Malachi Mavuso', 9, 10),
 ('AkRu03245', 3233, 'Malachi Mavuso', 2, 10),
 ('KiRu30640', 47474, 'Malachi Mavuso', 2, 10),
 ('AmAm09631', 14211, 'Malachi Mavuso', 9, 10),
 ('KiRu29147', 3179, 'Malachi Mavuso', 0, 10),
 ('AkRu03358', 31888, 'Malachi Mavuso', 1, 10),
 ('AkRu04116', 53182, 'Malachi Mavuso', 3, 10),
 ('AmAm09607', 55067, 'Malachi Mavuso', 9, 10),
 ('AmAm09956', 15929, 'Malachi Mavuso', 1, 10),
 ('SoIl32575', 3116, 'Zuriel Matembo', 1, 10),
 ('AmRu14245', 47227, 'Zuriel Matembo', 9, 10),
 ('KiZu31170', 17950, 'Zuriel Matembo', 9, 10),
 ('SoRu38401', 20163, 'Zuriel Matembo', 2, 10),
 ('KiRu30343', 51075, 'Zuriel Matembo', 2, 10),
 ('SoRu38331', 13192, 'Zuriel Matembo', 3, 10),
 ('HaRu20146', 36818, 'Zuriel Matembo', 2, 10),
 ('AkHa00314', 29407, 'Zuriel Matembo', 9, 10),
 ('AkRu05880', 12705, 'Zuriel Matembo', 7, 10),
 ('AkKi00847', 5889, 'Zuriel Matembo', 3, 10),
 ('SoMa34366', 26183, 'Zuriel Matembo', 9, 10),
 ('AmPw12480', 47831, 'Zuriel Matembo', 5, 10),
 ('HaRu19244', 25725, 'Zuriel Matembo', 2, 10),
 ('HaSe20888', 57001, 'Zuriel Matembo', 9, 10),
 ('SoRu38535', 44282, 'Zuriel Matembo', 0, 10),
 ('AkRu03973', 49033, 'Zuriel Matembo', 3, 10),
 ('KiRu27364', 38102, 'Zuriel Matembo', 0, 10)]

In [128]:
%%sql -- Add auditor comments to table for investigating suspects
CREATE VIEW IF NOT EXISTS Incorrect_Records AS(
SELECT a.location_id,
        v.record_id,
        e.employee_name,
        a.true_water_source_score as auditor_score,
        q.subjective_quality_score as surveyor_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
JOIN
    employee as e
ON
    v.assigned_employee_id = e.assigned_employee_id
WHERE 
    a.true_water_source_score != q.subjective_quality_score
AND
    v.visit_count=1
);

-- This CTE calculates the number of mistakes each employee made
WITH Error_Count AS ( 
SELECT 
    employee_name, COUNT(employee_name) as mistake_count
FROM
    Incorrect_Records /*
                Incorrect_records is a view that joins the audit report to the database
                for records where the auditor and
                employees scores are different*/
GROUP BY
    employee_name
ORDER BY
    mistake_count DESC
),
Suspected_List AS (
SELECT employee_name, mistake_count
FROM 
    Error_Count
WHERE
    mistake_count > (
SELECT 
    AVG(mistake_count) as average_mistake_count
FROM
    Error_Count)
)

-- This query filters all of the records where the "corrupt" employees gathered data.
SELECT 
    i.employee_name, i.location_id, a.statements
FROM
    Incorrect_Records as i
JOIN
    auditor_report as a
ON
    a.location_id=i.location_id
WHERE 
    employee_name in (SELECT employee_name FROM Suspected_List)
ORDER BY employee_name;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
0 rows affected.
71 rows affected.

[('Bello Azibo', 'KiZu31100', "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('Bello Azibo', 'SoKo33333', "A community volunteer's dedication is tested by bitterness, her efforts often thwarted by corrupt officials."),
 ('Bello Azibo', 'KiRu29290', 'A young artist sketches the faces in the queue, capturing the weariness of daily hours spent waiting for water.'),
 ('Bello Azibo', 'KiRu27884', "A traditional healer's empathy turns to bitterness, knowing that corrupt practices harm her community."),
 ('Bello Azibo', 'AkRu06495', 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.","'),
 ('Bello Azibo', 'AkRu04508', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Bello Azibo', 'AkLu02500', "A tour guide's enthusiasm is dampened by the water situation, his own wait in line a daily challenge."),
 ('Bello Azibo', 'KiAm22092', "A mother-to-be's gentle waiting in line is filled with hope and concern, the water's quality a looming worry."),
 ('Bello Azibo', 'KiRu29556', "A field worker's endurance is tested by anger, his toil a reminder of the corrupt practices that affect him daily."),
 ('Bello Azibo', 'AkHa00363', "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('Bello Azibo', 'HaSe21323', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Bello Azibo', 'AmRu14887', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Bello Azibo', 'AkRu05741', 'An air of mistrust surrounded the official, as villagers spoke of laziness and hints of corruption. The mention of cash passing discreetly only deepened their concerns.'),
 ('Bello Azibo', 'KiRu29696', "A grandmother's wisdom and patience in the queue are lessons in resilience, though her concern for water quality lingers."),
 ('Bello Azibo', 'HaYa21395', "A university student's studies suffer from hours in line, dreams clouded by the daily reality of dirty water."),
 ('Bello Azibo', 'AmRu14842', "An elderly woman's weary eyes reflect the toll of daily hours spent in the queue, her thoughts on family back home."),
 ('Bello Azibo', 'KiHa22748', "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('Bello Azibo', 'SoRu36708', "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('Bello Azibo', 'AkRu03848', "A local tailor's creativity is stifled by frustration, his work impacted by the corruption that taints the water."),
 ('Bello Azibo', 'KiIs23853', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The mention of cash changing hands further tainted their perception."),
 ('Bello Azibo', 'KiRu29639', "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns."),
 ('Bello Azibo', 'AmRu14691', "An artisan's creative mind is stifled by the wait, thoughts of craft overshadowed by concern for water quality."),
 ('Bello Azibo', 'KiMr24919', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Bello Azibo', 'KiZu30847', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Bello Azibo', 'KiRu27065', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Bello Azibo', 'AmRu14364', "A local musician's songs of joy are replaced with melodies of despair, inspired by the corrupt who control the water."),
 ('Lalitha Kaburi', 'KiIs24083', "A fisherman's anger boils beneath the surface, his livelihood threatened by the corrupt who tamper with water."),
 ('Lalitha Kaburi', 'SoIl32770', 'A factory worker\'s rough hands held empty containers, the long wait for water a symbol of daily struggles.","'),
 ('Lalitha Kaburi', 'KiRu29329', "Suspicion colored villagers' descriptions of an official's aloof demeanor and apparent laziness. The reference to cash transactions cast doubt on their motives."),
 ('Lalitha Kaburi', 'HaRu20544', "A traditional healer's thoughtful presence in the line speaks of understanding and empathy for the shared struggle."),
 ('Lalitha Kaburi', 'AkRu04935', "A child's homework is done in the queue, a stark reminder of the daily impact on education due to the water situation."),
 ('Lalitha Kaburi', 'AkRu07310', 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.'),
 ('Lalitha Kaburi', 'SoKo33094', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Malachi Mavuso', 'AmAm09607', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Malachi Mavuso', 'KiRu26598', "A teenager's dreams are tempered by reality, her future threatened by the corrupt practices she sees around her."),
 ('Malachi Mavuso', 'AmPw12272', "A subsistence farmer's worry for his crops extends to the queue, the struggle for water a shared community burden."),
 ('Malachi Mavuso', 'HaRu20005', "A herdboy's simplicity is marred by disillusionment, his youthful trust eroded by the corrupt system around him."),
 ('Malachi Mavuso', 'KiRu25347', 'Villagers expressed their discontent with an official who appeared dismissive and neglectful. The mention of cash changing hands added to their growing sense of distrust.'),
 ('Malachi Mavuso', 'KiRu30640', "A local mason's strength is tested by frustration, his work hindered by the corruption that controls resources."),
 ('Malachi Mavuso', 'AmRu15719', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'AmRu13226', "A seasonal worker's exhaustion is fueled by anger, his daily struggle intensified by the corrupt system."),
 ('Malachi Mavuso', 'AmRu13433', 'A child\'s playful innocence contrasted with the serious faces around, unaware of the water\'s questionable quality.","'),
 ('Malachi Mavuso', 'KiZu30932', "A village teacher frets over lost class time, her concern for her students mixed with worry for the water's quality."),
 ('Malachi Mavuso', 'AmAm09631', 'An elderly man lamented the endless queue, recalling times when water was abundant and clean.","'),
 ('Malachi Mavuso', 'KiRu29147', 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.","'),
 ('Malachi Mavuso', 'AkRu04116', "A student's ambition is fueled by the daily water struggle, his determination to overcome evident in the queue."),
 ('Malachi Mavuso', 'AkHa00053', "A craftsman's pride is dimmed by resentment, his artistry affected by the corrupt who control the resources."),
 ('Malachi Mavuso', 'AmDa11466', "A seasonal laborer's exhaustion is compounded by the wait, the water's quality a reminder of the harsh reality."),
 ('Malachi Mavuso', 'AkRu03245', "A traditional basket weaver's hands rest in line, her daily work paused by the struggle for water."),
 ('Malachi Mavuso', 'SoMa34211', 'A teenager\'s dreams of studying were overshadowed by daily hours in the water line, frustration growing with each day.","'),
 ('Malachi Mavuso', 'SoRu36566', 'A small business owner counts lost hours as he stands in line, worrying about the water quality affecting his products.'),
 ('Malachi Mavuso', 'AkRu08640', "A local preacher's prayers are tinged with anger, seeking justice from the corruption that plagues his flock."),
 ('Malachi Mavuso', 'AkRu03358', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Malachi Mavuso', 'AmAm09956', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Zuriel Matembo', 'SoMa34366', "A soldier's disciplined waiting contrasts with the chaos of the line, his face betraying concern for his family back home."),
 ('Zuriel Matembo', 'HaRu19244', "A politician's promises ring hollow in the queue, his absence noted by those waiting for clean water."),
 ('Zuriel Matembo', 'AmRu14245', "A retiree's patient waiting masks frustration with the water situation, her stories filled with memories of better days."),
 ('Zuriel Matembo', 'KiRu30343', "A university student's studies suffer from hours in line, dreams clouded by the daily reality of dirty water."),
 ('Zuriel Matembo', 'HaSe20888', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Zuriel Matembo', 'KiRu27364', 'A mother of three stood in line for hours, worried about the water\'s color and what it might mean for her children\'s health.","'),
 ('Zuriel Matembo', 'SoRu38535', "A teenager's dreams are tempered by reality, her future threatened by the corrupt practices she sees around her."),
 ('Zuriel Matembo', 'AkRu03973', "A health worker's frustration grows in the queue, knowing that corruption affects even the health of her community."),
 ('Zuriel Matembo', 'SoIl32575', 'Villagers recounted unsettling encounters with an official known for their arrogance and avoidance of responsibilities. The mention of cash changing hands added to their apprehension and distrust.'),
 ('Zuriel Matembo', 'KiZu31170', 'A community leader stood with his people, expressing concern for the water quality and the time lost in queues.","'),
 ('Zuriel Matembo', 'SoRu38331', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Zuriel Matembo', 'AkHa00314', "A street vendor's sales suffer from time spent waiting, her concern for the water's quality affecting her products."),
 ('Zuriel Matembo', 'SoRu38401', "A village chief's dignified wait speaks of leadership and understanding, though the struggle for water weighs heavily."),
 ('Zuriel Matembo', 'HaRu20146', "An air of mistrust hung heavy as villagers described an official's aloof behavior and potential impropriety. The whisper of cash exchanges only fueled their apprehension."),
 ('Zuriel Matembo', 'AkRu05880', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The allusion to cash changing hands deepened their skepticism."),
 ('Zuriel Matembo', 'AkKi00847', 'A young student missed school to fetch water, frustrated by the long wait and murky appearance.","'),
 ('Zuriel Matembo', 'AmPw12480', "A village chief's dignity is marred by frustration, his leadership challenged by corruption at higher levels.")]

In [131]:
%%sql -- Final evidence that these officials are corrupt
CREATE VIEW IF NOT EXISTS Incorrect_Records AS(
SELECT a.location_id,
        v.record_id,
        e.employee_name,
        a.true_water_source_score as auditor_score,
        q.subjective_quality_score as surveyor_score
FROM
    auditor_report as a
JOIN
    visits as v
ON
    a.location_id=v.location_id
JOIN
    water_quality as q
ON
    q.record_id=v.record_id
JOIN
    employee as e
ON
    v.assigned_employee_id = e.assigned_employee_id
WHERE 
    a.true_water_source_score != q.subjective_quality_score
AND
    v.visit_count=1
);

-- This CTE calculates the number of mistakes each employee made
WITH Error_Count AS ( 
SELECT 
    employee_name, COUNT(employee_name) as mistake_count
FROM
    Incorrect_Records /*
                Incorrect_records is a view that joins the audit report to the database
                for records where the auditor and
                employees scores are different*/
GROUP BY
    employee_name
ORDER BY
    mistake_count DESC
),
Suspected_List AS (
SELECT employee_name, mistake_count
FROM 
    Error_Count
WHERE
    mistake_count > (
SELECT 
    AVG(mistake_count) as average_mistake_count
FROM
    Error_Count)
)

-- This query filters all of the records where the "corrupt" employees gathered data.
SELECT 
    i.employee_name, i.location_id, a.statements
FROM
    Incorrect_Records as i
JOIN
    auditor_report as a
ON
    a.location_id=i.location_id
WHERE 
    employee_name in (SELECT employee_name FROM Suspected_List)
AND
    a.statements LIKE "%cash%"
ORDER BY employee_name;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
0 rows affected.
19 rows affected.

[('Bello Azibo', 'AkRu04508', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Bello Azibo', 'KiRu29639', "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns."),
 ('Bello Azibo', 'KiMr24919', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Bello Azibo', 'AmRu14887', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Bello Azibo', 'AkRu05741', 'An air of mistrust surrounded the official, as villagers spoke of laziness and hints of corruption. The mention of cash passing discreetly only deepened their concerns.'),
 ('Bello Azibo', 'KiIs23853', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The mention of cash changing hands further tainted their perception."),
 ('Bello Azibo', 'HaSe21323', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Bello Azibo', 'KiRu27065', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Lalitha Kaburi', 'AkRu07310', 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.'),
 ('Lalitha Kaburi', 'KiRu29329', "Suspicion colored villagers' descriptions of an official's aloof demeanor and apparent laziness. The reference to cash transactions cast doubt on their motives."),
 ('Malachi Mavuso', 'KiRu25347', 'Villagers expressed their discontent with an official who appeared dismissive and neglectful. The mention of cash changing hands added to their growing sense of distrust.'),
 ('Malachi Mavuso', 'AmAm09956', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Malachi Mavuso', 'AmRu15719', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'AmAm09607', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Zuriel Matembo', 'SoRu38331', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Zuriel Matembo', 'AkRu05880', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The allusion to cash changing hands deepened their skepticism."),
 ('Zuriel Matembo', 'SoIl32575', 'Villagers recounted unsettling encounters with an official known for their arrogance and avoidance of responsibilities. The mention of cash changing hands added to their apprehension and distrust.'),
 ('Zuriel Matembo', 'HaSe20888', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Zuriel Matembo', 'HaRu20146', "An air of mistrust hung heavy as villagers described an official's aloof behavior and potential impropriety. The whisper of cash exchanges only fueled their apprehension.")]

In [150]:
%%sql -- Check if any of our suspects where wrongly accused

-- This CTE calculates the number of mistakes each employee made
WITH Error_Count AS ( 
SELECT 
    employee_name, COUNT(employee_name) as mistake_count
FROM
    Incorrect_Records /*
                Incorrect_records is a view that joins the audit report to the database
                for records where the auditor and
                employees scores are different*/
GROUP BY
    employee_name
ORDER BY
    mistake_count DESC
),
Suspected_List AS (
SELECT employee_name, mistake_count
FROM 
    Error_Count
WHERE
    mistake_count > (
SELECT 
    AVG(mistake_count) as average_mistake_count
FROM
    Error_Count)
)

-- So these employees are guilty
SELECT 
    i.employee_name, a.statements
FROM
    Incorrect_Records as i
JOIN
    auditor_report as a
ON
    a.location_id=i.location_id
WHERE 
    a.statements LIKE "%cash%"
AND
    employee_name not in (SELECT employee_name FROM Suspected_List)
ORDER BY employee_name;

   mysql+pymysql://ultracode:***@localhost:3306
 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
0 rows affected.

[]